
dmdata/*
\.*
test*
assets/*
t*
*.coffee
*.bakdd
conf/*
bootstrap*
dm
log/*

dm.c.js
dmc.html

deploy/latest/*

closure
commit_svn.sh
compiled/
createxhr.js
deploy/
dm.manifest
dm.php
dmloader.js
help/
in_dex.php
index.php
jquery.js
lime
link.php
login.php
nngen.php
plframework
register.php
resource.php
update_config.php
vc.js
vendors/
views/
*.log
